.drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(1, 1, 1, 0);
  display: flex;
  justify-content: flex-end;
  animation-name: background;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  z-index: 2;
}

@keyframes background {
  from {
    background: rgba(1, 1, 1, 0);
  }
  to {
    background: rgba(1, 1, 1, 0.8);
  }
}

.drawer__container {
  background: #f9f9f9;
  width: 25vw;
  height: 100vh;
  right: -650px;
  position: relative;
  transition: right 0.5s;
}

.drawer_container--open {
  right: 0px;
}

.drawer__header {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  background: #fff;
  height: 40px;
  padding: 10px 20px;
  font-size: 22px;
  z-index: 5;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.drawer__header__title__container {
  margin: 0px auto;
}

.drawer__header__title {
  font-weight: 200;
}

.drawer__body {
  height: 85%;
  overflow-y: scroll;
}

.drawer__footer {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 60px;
  background-color: #212429;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1300px) {
  .drawer__container {
    width: 20vw;
  }
}

@media (max-width: 960px) {
  .drawer__container {
    width: 100vw;
  }
}