.topbar-wrapper {
  background-color: #fff;
}

.topbar {
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;

  @media screen and (max-width: 768px) {
    padding: 0 1rem;
  }

  & a {
    height: 100%;
  }

  &__logo {
    height: 90%;
  }

  &__buttons {
    display: flex;
  }

  &__button {
    cursor: pointer;
    position: relative;
    & + .topbar__button {
      margin-left: 1.5rem;
    }

    &__counter {
      position: absolute;
      right: -5px;
      top: -5px;
      background-color: #e3566e;
      border-radius: 50%;
      height: 18px;
      width: 18px;
      text-align: center;
      color: white;
      font-size: 12px;
      font-weight: bold;
    }
  }
}
