.card-hz {
  height: 150px;
  width: 85%;
  background-color: #fff;
  border-radius: 15px;
  margin: 15px auto 0;
  padding: .5rem;
  overflow: hidden;
  display: flex;
  color: #333;

  @media screen and (max-width: 768px) {
    width: 95%;
  }

  &:last-of-type {
    margin-bottom: 10rem;
  }

  &__image {
    height: 100%;
    margin-left: 10px;
    & img {
      height: 95%;
    }
  }

  &__name {
    font-weight: 700;
  }

  &__price {
    font-size: 16px;
    margin-top: 10px;

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }

  &__info {
    display: flex;
    margin-left: 20px;
    justify-content: center;
    flex-direction: column;
  }

  &__text {
    padding: 0;
  }

  &__more-info {
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    background-color: #e3566e;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 15px;
    width: 170px;
  }
  
}